<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @event.maker_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-success" %> |
<%= link_to 'Back', events_path %>
